/* hackingSimulator.css */
.hacking-simulator {
  color: green;
  background-color: black;
  padding: 10px;
  border: 1px solid #00ff00;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  overflow-y: scroll;
}

.hacking-line {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.blink {
  color: red;
  font-weight: bold;
  animation: blink 1s step-start infinite;
}

@keyframes blink-animation {
  to {
      visibility: hidden;
  }
}

.access-denied {
  color: red;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blink 1s step-start infinite;
}

.skull {
  margin: 0 5px;
  font-size: 1.5em;
}

.loading-bar {
  width: 100%;
  height: 10px;
  background-color: #222;
  margin-top: 10px;
  border: 1px solid #555;
  position: relative;
  overflow: hidden;
}

.loading-progress {
  height: 100%;
  background-color: red;
  transition: width 0.5s ease;
}